- name: Tmux install tpm
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm 
    dest: /home/{{ user }}/.tmux/plugins/tpm
  become: false

- name: Tmux directory
  ansible.builtin.file:
    dest: /home/{{ user }}/.config/tmux
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Tmux dotfiles
  ansible.builtin.copy:
    src: ../files/.config/tmux/tmux.conf
    dest: /home/{{ user }}/.config/tmux/tmux.conf
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "774"

- name: Ensure .local/bin/scripts exists
  ansible.builtin.file:
    path: /home/{{ user }}/.local/bin/scripts
    state: directory

- name: Copy tmux-sessionizer
  ansible.builtin.copy:
    src: ../files/tmux-sessionizer
    dest: /home/{{ user }}/.local/bin/scripts
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Ensure .local/share/fonts exists
  ansible.builtin.file:
    dest: /home/{{ user }}/.local/share/fonts/hack
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Check nerdfonts installed
  ansible.builtin.stat:
    path: /home/{{ user }}/.local/share/fonts/hack/HackNerdFont-Mono-Regular.ttf
  register: nerdfonts

- name: Install nerdfonts
  ansible.builtin.unarchive:
    src: https://github.com/ryanoasis/nerd-fonts/releases/download/v{{ hackfont_ver }}/Hack.zip
    dest: /home/{{ user }}/.local/share/fonts
    remote_src: true
  when: not nerdfonts.stat.exists

- name: Refresh font-cache
  ansible.builtin.shell: fc-cache -v -f
  when: not nerdfonts.stat.exists

- name: Nvim dir
  ansible.builtin.file:
    dest: /home/{{ user }}/.config/nvim/
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Copy nvim config
  ansible.builtin.copy:
    src: files/.config/nvim/
    dest: /home/{{ user}}/.config/nvim/
    owner: "{{ user }}"
    group: "{{ user }}"
