[user]
	name = oliver kelly
	email = foolishhim@gmail.com
	signingkey = B3B00B999255E3F6
[init]
	defaultBranch = main
[commit]
	gpgsign = true

[includeIf "gitdir:~/git-work/"]
  path = ~/.gitconfig_work

[core]
  editor=nvim
